# IntelliJ IDEA Files
*.iml
*.ipr
*.iws
out/
.idea/

# Eclipse Project Files
.classpath
.project
.settings/
eclipse/

# Gradle
.gradle
gradle/
build/
debug/
bin/
config/
crash-reports/
logs/
mods/
saves/
run/
usernamecache.json
options.txt
asm
Thumbs.db